
.intro{
  background-image: url("/home/emmanuel/Desktop/moringa-school-projects/delani-studio/backgrounds/h_img.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  3

}

.sect1 {
  color: black;
  background-image: url("css/h_img.jpg");
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont2 {
  position: relative;
  text-align: center;
  color: white;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.about{
  text-align: center;
}
.row{
  text-align: center;
  display: flex;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
h5{
  text-align: center;
}
.cont4 {
  position: relative;
  text-align: center;
  color: white;
  opacity: 10;
}
.input{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.form{
  color: white;
}
.cont3{
  display: flex;
}
