.intro{
  background-image: url("/home/emmanuel/Desktop/moringa-school-projects/delani-studio/backgrounds/h_img.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about{
  text-align: center;
}
.services{
  background-image: url("/home/emmanuel/Desktop/moringa-school-projects/delani-studio/backgrounds/s_image.jpg");
  height: 50vh;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sect1{
  text-align: center;
  flex-direction: column;

}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}

}
.sect2{
  text-align: center;
  display: flex;
}
.contact{
  background-image: url("/home/emmanuel/Desktop/moringa-school-projects/delani-studio/backgrounds/c_image.jpg");
  text-align: center;
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#designText{
  display: none;
}
#developmenttext{
  display: none;
}
#managementtexts{
  display: none;
}
.social{
  text-align: center;
  color: white;
  background-color: black;
}
